#comentarios {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.comentario {
    border-bottom: 1px solid #d35e4e;
    padding: 10px 0;
}

.comentario:last-child {
    border-bottom: none;
}

.nombre {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.comentario-texto {
    margin-bottom: 5px;
}

.datetime {
    font-size: 0.8em;
    color: #666;
}

#formulario {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

button {
    background-color: #526c93;
    color: white;
    padding: 10px 20px;
    margin: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    transition: color 0.3s;
}

.glow-on-hover:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s, background-size 20s linear;
}

.glow-on-hover:hover:before {
    background: linear-gradient(45deg, #d35e4e, #9a9a79, #526c93);
    filter: blur(5px);
    background-size: 400%;
    opacity: 1;
    animation: glowing 20s linear infinite;
}

.glow-on-hover:active {
    color: #000;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
