.flex-container.container100 {
    padding: 2rem 0 0;
    justify-content: flex-start;
}

.flex-container.container100 input {
    flex: 0.8;
}

.flex-container.container100 button {
    margin-left: 1rem;
}

.container button {
    flex: 0.2;
}

.container100 iframe {
    width: 100%;
    height: 352px;
}

.letra {
    white-space: pre-wrap;
    padding-top: 2rem;
}

.reset {
    background-color: #d35e4e;
}
