@import './header.css';
@import './footer.css';
@import './sidebar.css';
@import './index.css';
@import './categories.css';
@import './entry.css';
@import './fanzone.css';
@import './learnthelyrics.css';

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: rgb(0, 0, 0);
    font-family: "Lato", sans-serif;
    font-size: 16px;
    min-width: 250px;
}

body {
    min-width: 250px;
}

a {
    color: #D35E4EFF;
    text-decoration: none;
}

a:hover {
    color: #526c93;
}

.blog {
    background-color: rgb(247, 247, 247);
    padding-bottom: 2rem;
}

.blog h1 {
    font-size: 2rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

iframe {
    border: none;
}

@media screen and (min-width: 2048px) {
    html {
        font-size: 24px;
    }
}