#comentarios {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.comentario {
    border-bottom: 1px solid #d35e4e;
    padding: 10px 0;
}

.comentario:last-child {
    border-bottom: none;
}

.nombre {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.comentario-texto {
    margin-bottom: 5px;
}

.datetime {
    font-size: 0.8em;
    color: #666;
}

#formulario {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #526c93;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7189b0;
}