.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
}

.container-card {
    margin: 1rem;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.container-card img,
.category-card img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
    display: block;
}

.category-card {
    text-align: center;
    background-color: #fff;
    color: #000c;
    /*margin: 0 2rem 2rem;*/
    /*padding: 1rem;*/
    height: inherit;
    display: flex;
    flex-direction: column;
}

.card-text p {
    align-self: end;
}

.card-text {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: normal;
    flex: 1;
}

.card-text h2 {
    margin-bottom: 1rem;
    word-break: break-word;
}

.card-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(20px);
    background-color: rgba(82, 108, 147, 0.7);
    padding: 20px;
    color: white;
    text-align: center;
}

a .card-info a {
    color: #ffffff;
}

.card-info a:hover {
    color: #d35e4e;
}

.pagination-blog ul {
    flex-flow: column wrap;
    place-content: center;
    align-items: center;
    margin: 3rem 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-content: center;
    flex-direction: row;
}

.pagination-blog ul li {
    padding: 1rem 0;
}

.pagination-blog li a {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(82, 108, 147);
    color: rgb(82, 108, 147);
    padding: 0.5rem;
    font-weight: 400;
    font-size: 1rem;
    margin: 0.5rem;
}

.pagination-blog li a:hover,
li a.current-pagination-page {
    background-color: rgb(211, 94, 78);
    color: rgb(255, 255, 255);
    border: none;
}

.section-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-header img {
    width: 50%;
    height: auto;
    min-width: 92px;
}

@media screen and (min-width: 481px) {
    .container-flex {
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container-card {
        flex: 0 0 20%;
        padding: .5rem;
    }

    .category-card {
        text-align: center;
        background-color: #fff;
        color: #000c;
        flex: 0.2;
        min-width: 160px;
    }

    .section-header img {
        width: 25%;
        height: auto;
        max-width: 156px;
    }
}

.zoom-on-hover {
    width: 100%;
    max-width: 400px;
    transition: transform 0.5s ease;
}

.zoom-on-hover:hover {
    transform: scale(1.1);
}

